body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:688px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:7px;
  width:749px;
  height:688px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:745px;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:47px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:163px;
  width:257px;
  height:47px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:253px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:17px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:146px;
  width:257px;
  height:17px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:220px;
  width:26px;
  height:23px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:324px;
  width:159px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:273px;
  width:137px;
  height:41px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:383px;
  width:140px;
  height:40px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
