body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:688px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:7px;
  width:749px;
  height:688px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:745px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:47px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:163px;
  width:257px;
  height:47px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:253px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:17px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:146px;
  width:257px;
  height:17px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:253px;
  width:195px;
  height:286px;
}
#u46_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:286px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:286px;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:28px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:28px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:195px;
  height:30px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:195px;
  height:32px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:195px;
  height:32px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:195px;
  height:36px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:195px;
  height:32px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:195px;
  height:32px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:195px;
  height:32px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:195px;
  height:32px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:220px;
  width:26px;
  height:23px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
