body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:688px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:7px;
  width:749px;
  height:688px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:745px;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:47px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:163px;
  width:257px;
  height:47px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:253px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:17px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:146px;
  width:257px;
  height:17px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:220px;
  width:26px;
  height:23px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:303px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:253px;
  width:245px;
  height:303px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
