body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:688px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:7px;
  width:749px;
  height:688px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:745px;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:47px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:163px;
  width:257px;
  height:47px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:253px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:17px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:146px;
  width:257px;
  height:17px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:217px;
  width:227px;
  height:240px;
}
#u25_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:240px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:240px;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:227px;
  height:30px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:227px;
  height:36px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:227px;
  height:36px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:227px;
  height:36px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:227px;
  height:36px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:227px;
  height:36px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
